

/* General Styles */
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  
  html, body {
    overflow-x: hidden;
  }

  body {
    margin: 0;
    width:100%;
    padding: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    --red:  #BE3144;
    --light-red: #EC625F;
    --dark-red: #B50717;
    --light-slate: #ECECEC;
    --white: #ffffff; 
    --charcoal: #1D1D1D;
    --charcoal05: #1D1D1D9d;
    --light-charcoal05: #3333339D;
    --light-charcoal08: #3333339D;
    --light-charcoal: #333333; 
    --slate: #BFBFBF;
    color: var(--slate);
    --transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    --border-radius: 6px
  }
  

  /* Header Styles */
  header {
    background-color: var(--charcoal05) ; 
    padding: 15px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    backdrop-filter: blur(10px)
  }

  h1  {
    margin: 0px;
    font-size: clamp(40px, 8vw, 70px);
    color: var(--light-red);
    margin-bottom: 20px;
    align-content: center;
    width: 100%;
  }

  header .container {
    justify-content: space-between;
    height: 20px;
    padding: 0 20px;
    width: 100%;

  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav {
    width: 100%;
    max-width: 1800px;
    text-align: right;
    
  }
  
  nav ul {
    list-style: none;
    width: 100%;
  }
  
  nav li {
    margin-left: 30px;
    width: 100%;
    
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  
  nav ul li a {
    counter-increment: item 1;  
  }

  nav ul li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--red);
}

  nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    color: var(--slate);
    text-decoration: none;
    padding: 10px;
    margin:auto;
    left: -500px;
    position: relative;
  }
  
  nav a:hover {
    color: var(--red);
    background-color: var(--slate);
    border-radius: 5px;
  }
  
  
/* About Styling */
.about-container {
    background-color: var(--light-charcoal05);
    margin: 0px 100px;
    padding: 100px;
    padding-top: 200px;
    border-radius: 5px;
    min-height: 60vh;
    opacity: 0;
    animation-name: fadein;
    animation-duration: 2s;
    animation-fill-mode: both;
    backdrop-filter: blur(1px);
  }

  /* Define the slide-up animation */
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
  
  @media only screen and (max-width: 768px){
  .about-container {
    margin: 80px 20px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 5px;

  }
}
  .about-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: var(--slate);
  }
  
  .about-container h3 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    padding: 20px;
    color: var(--slate);
  }

  .about-container p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0.8;
    text-align: left;
  }
  
  .about-container a {
    color: var(--light-red);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }

    
    /* Project Page Styles */
    .project {
    padding: 120px 0;
    }
    
    .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    padding-top:100px;
    }
    
    .project-header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    
    .project-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    }
    
    .project-header p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 30px;
    }
    
    .project-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    max-height: 70%;
    }
    

    /* Project Container Wrapper Styles */
.project-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
  }
  
  /* Project Container Styles */
  .project-container {
    background-color: var(--light-charcoal05);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: 400px;
    width: 300px;
    overflow: hidden;
    isolation: isolate;
    position: relative;
  }

  .project-container h3 {
    padding: 10px;
    padding-top: 30px;
  }
  
  .project-container:hover {
    color: var(--light-red);
    transform: translateY(-10px);
    cursor: pointer;
  }

  .project-container img { 
    max-width: 100%;
    object-fit: cover;
    z-index: -1;
    position: relative;
    max-width: 400px;
  }


  .project-container:hover img {
    transform: scale(1.25);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  }
 
    /* Footer Styles */
    footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    }
    
    footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
    }
    
    footer a {
    color: var(--slate);
    text-decoration: none;
    font-weight: bold;
    }
    
    footer a:hover {
    color: var(--dark-red);
    }
  
    footer li {
      list-style: none;
    }

    @media only screen and (min-width: 1080px){
    .side-style{
    width: 30px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--white);
    }
  }

  .code{
    font-family: "SF Mono","Fira Code","Fira Mono","Roboto Mono",monospace;
    color:var(--light-red);
    font-weight: bold;
  }

  .code-text{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:var(--slate);
    font-weight: 400;
  }

  .intro {
    margin-left: 20px;
    padding-right: 80px;
  }

  @media only screen and (max-width: 1080px){
    .side-style{
      display: none;
    }

    .intro {
      margin-left: 5px;
      padding-right: 10px;
    }

    .about-container p {
      font-size: 14px;
      line-height: 1.5;
      opacity: 0.8;
      text-align: left;
    }

    nav a {
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 14px;
      font-weight: bold;
      color: #fff;
      text-decoration: none;
      padding: 4px;
      margin:auto;
      left: -500px;
      position: relative;
    }
    
      /* Project Container Styles */
  .project-container {
    padding: 10%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 300px;
    width: 70%;
    overflow: hidden;
    isolation: isolate;
    position: relative;
  }

    .about-container {
    margin-top: 100px;
  }

  .github-stats{
    display: none;
  }



  }

    .email-side-style{
      margin: 10px auto;
      padding: 10px;
      font-family: var(--font-mono);
      font-size: var(--fz-xxs);
      line-height: var(--fz-lg);
      letter-spacing: 0.1em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }

    .email-side-style a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      color: inherit;
      position: relative;
      transition: var(--transition);
    }

    .email-side-style a:hover{
      transform: translateY(-6px);
      color: var(--red); 
    }

    .side-style::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 10px auto;
      background-color: var(--light-slate);
  }

    /* Add the slide-up animation to each section */
  .fade-up {
    animation-name: slideUp;
    animation-duration: 2s;
    animation-fill-mode: both; /* keeps the final state of the animation after it ends */
  }

  .fade-in-right{
    animation-name: fadeRight;
    animation-duration: 2s;
    animation-fill-mode: both;
  }

  section {
    padding: 50px 0px; 
    max-width: 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin: auto;
  }

/* Define the slide-up animation */
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes fadeRight {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      left: 0px;
    }
  }
  .loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 120px;
    height: 120px;
    margin: -76px 0 0 -76px;
    display: flex;
    height: 100%;
  }
  
  .loader-icon {
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    height: 100px;
    width: 100px;
  }
  
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .stats-container{
    padding-top: 100px;
    padding: 10px;
    display:flex;
    justify-content: center;
    width:100%;
  }
  
  .grid-container {
    display: grid;
    margin: auto;
    grid-template-columns: 38% 38%;
    grid-column-gap: 2%;
    grid-row-gap: 10px;
    justify-content: center;
    justify-items: center;
    padding-bottom: 200px;
    max-width: 80%;
  }
  
  .grid-container p{
    color: var(--slate);
    opacity: .8;
  }

  .grid-container a{
    text-decoration: none;
    color: var(--light-red);
  }
  

  
  .featured-projects{
    list-style: none;
    padding: 0px;
    margin: 0px;
    max-width: 1000px;
    position: relative;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(10, 1fr);
    -webkit-box-align: center;
    align-items: center;
  }

  .project-image{
    margin: auto;
    box-shadow: 0 10px 30px -15px var(--charcoal);
    grid-area: 1 / 6 / -1 / -1;
    position: relative;
    z-index: 1;
    background: var(--light-red);
    overflow: hidden;
    transition: var(--transition);
  }

  .project-image:hover{
    background: none;
  }

  .project-image img:hover{
    opacity: 1;
  }

  .project-image img {
    width: 100%;
    height: 100%;
    opacity: .5;
    transition: var(--transition);
    vertical-align: middle;
  }
  
  .project-content{
    margin: auto;
    position: relative;
    grid-area: 1 / 2 / -1 / 7;
    background-color: var(--light-charcoal08);
    z-index: 2;
    padding: 25px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: var(--border-radius);
  }
  



  .wallpaper {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

