/*---------------MAIN STYLES---------------------*/
* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html,
body {
  overflow-x: hidden;
}

.proj-page{
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  width: 100%;
  padding: 0;
  position: relative;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #1f1f1f;
  --red: #BE3144;
  --light-red: #EC625F;
  --light-red05: #ec615f7e;
  --light-red02: #ec615f34;
  --dark-red: #B50717;
  --light-slate: #ECECEC;
  --white: #ffffff;
  --charcoal: #1D1D1D;
  --charcoal05: #1D1D1D9d;
  --light-charcoal05: #3333339D;
  --light-charcoal08: #333333d3;
  --light-charcoal09: #333333eb;
  --light-charcoal: #333333;
  --transparent: #33333300;
  --slate: #BFBFBF;
  color: var(--slate);
  --transition-short: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
  --transition-long: all 0.6s cubic-bezier(0.25, 0.1, 0.25, 1);
  --border-radius-small: 5px;
  --border-radius-large: 10px;
  --box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

section {
  padding: 50px 0px;
  max-width: 1000px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  margin: auto;
}

.wallpaper {
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 50px;
}


/*----------------------------------------------*/



/*-----------------HEADER STYLES----------------*/
header {
  background-color: var(--charcoal05);
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  backdrop-filter: blur(10px)
}

h1 {
  margin: 0px;
  font-size: clamp(40px, 8vw, 70px);
  color: var(--light-red);
  margin-bottom: 20px;
  align-content: center;
  width: 100%;
}

header .container {
  justify-content: space-between;
  height: 20px;
  padding: 0 20px;
  width: 100%;

}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--slate);
  text-decoration: none;
}

nav {
  width: 100%;
  max-width: 1800px;
  text-align: right;
}

nav ul {
  list-style: none;
  width: 100%;
}

nav li {
  margin-left: 30px;
  width: 100%;
}

nav li:first-child {
  margin-left: 0;
}


nav ul li a {
  counter-increment: item 1;
}

nav ul li a::before {
  content: "0" counter(item) ".";
  margin-right: 5px;
  color: var(--red);
}

nav a {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 18px;
  font-weight: bold;
  color: var(--slate);
  text-decoration: none;
  padding: 10px;
  margin: auto;
  left: -500px;
  position: relative;
}

nav a:hover {
  color: var(--light-red);
  background-color: var(--slate);
  border-radius: var(--border-radius-small);
}

/*-----------------------------------------------------*/



/*---------------FOOTER STYLES-------------------------*/
footer {
  border-top-left-radius: 30%;
  border-top-right-radius: 30%;
  background: radial-gradient(ellipse at bottom, var(--light-red02) 0%, var(--transparent) 70%);
  padding-bottom: 45px;
  padding-top: 75px;
  text-align: center;
  max-height: 100px;
}

footer p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 0;
  padding: 10px;
}

footer a {
  color: var(--slate);
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: var(--dark-red);
}

footer li {
  list-style: none;
}

.to-top {
  display: block;
  margin: auto;
  width: 4rem;
  height: 4rem;
  text-align: center;
  border: none;
  background-color: var(--light-slate);
  color: var(--light-red);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition-short);
}

.to-top:hover {
  color: var(--light-slate);
  background-color: var(--light-red);
}

.arrow-up::before {
  font-size: 2em;
  content: "\2191";
  text-align: center;
}

/*----------------------------------------------------*/



/*----------------ABOUT STYLES------------------------*/
.about-container {
  background-color: var(--light-charcoal05);
  margin: 0px 100px;
  padding: 100px;
  border-radius: var(--border-radius-large);
  min-height: 30vh;
  opacity: 1;
  animation-name: fadein;
  animation-duration: 2s;
  animation-fill-mode: both;
  vertical-align: auto;
  backdrop-filter: blur(1px);
}


/* FADE IN ANIMATION */
@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.about-container h2 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: var(--slate);
}

.about-container h3 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  padding: 20px;
  color: var(--slate);
}

.about-container p {
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.8;
  text-align: left;
}

.about-container a {
  color: var(--light-red);
  text-decoration: none;
  font-weight: bold;
}

.code {
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  color: var(--light-red);
  font-weight: bold;
}

.code-text {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--slate);
  font-weight: 400;
}

.intro {
  margin-left: 20px;
  padding-right: 80px;

}

/*-----------------------------------------------*/



/*------------PROJECT CARD STYLES----------------*/
.project-header {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 50px;
}

.project-header h2 {
  font-size: clamp(20px, 6vw, 40px);
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 20px;
  
}

.project-header h2:before,
.project-header h2:after {
 background-color:var(--light-red05);
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50px;
}
.project-header h2:before {
 right: 0.5em;
 margin-left: -50%;
}
.project-header h2:after {
 left: 0.5em;
 margin-right: -50%;
}

.project-header p {
  font-size: 20px;
  line-height: 1.5;
  margin-top: 0;
  margin-bottom: 30px;
}

.project-container img {
  width: 100%;
  max-width: 400px;
  height: auto;
  object-fit: cover;
  border-radius: var(--border-radius-large);
  max-height: 70%;
}

.project-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 40px;
}

.project-container {
  background-color: var(--light-charcoal05);
  border-radius: var(--border-radius-large);
  padding: 20px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: auto;
  width: 300px;
  overflow: hidden;
  isolation: isolate;
  position: relative;
  transition: var(--transition-long);
  backdrop-filter: blur(1px);
}

.project-container:hover {
  color: var(--light-red);
  cursor: pointer;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, .9);
}

.project-container:hover h3{
  transition: var(--transition-short);
  padding-top: 50px;
}

.project-container:hover img {
  transform: scale(1.3);
}

.project-container h3 {
  padding: 10px;
  padding-top: 30px;
}

.project-container img {
  max-width: 100%;
  object-fit: cover;
  z-index: -1;
  position: relative;
  max-width: 400px;
  transition: var(--transition-short);
}
/*-------------------------------------------*/



/*---------FEATURED-PROJECT STYLES-----------*/
.featured-projects {
  list-style: none;
  padding: 100px;
  padding-top: 0px;
  margin: 0px;
  max-width: 1000px;
  position: relative;
  height: auto;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(10, 1fr);
  -webkit-box-align: center;
  align-items: center;
}

.featured-projects h3 {
  font-size: 3vmin;
  padding-top: 25px;
  padding-left: 25px; 
  padding-right: 25px; 
}

.featured-projects p{
  padding-left: 25px; 
  padding-top: 5px;
  padding-right: 25px; 
  color: var(--slate);
}

/* Left */
.project-content-l {
  margin: auto;
  text-align: right;
  position: relative;
  grid-area: 1 / 4 / -1 / 11;
  background-color: var(--light-charcoal09);
  z-index: 2;
  border-radius: var(--border-radius-large);
  backdrop-filter: blur(1px);
}

.project-image-l {
  margin: auto;
  grid-area: 1 / 1 / -1 / 6;
  position: relative;
  z-index: 1;
  margin-left:15px;
}

.project-image-l img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius-small);
  transition: var(--transition-short);
  vertical-align: middle;
}

.project-image-r::before{
  background: var(--light-red02);
  z-index: 3;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  transition: var(--transition-long);
}

.project-image-l:hover::before{
  background-color: var(--transparent);
}

.project-image-r:hover::before{
  background-color: var(--transparent);
}

.project-image-l::after{
  border: 3px solid var(--light-red);
  top: 10px;
  left: -10px;
  opacity: .8;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  transition: var(--transition-short);
}

.project-image-l::before{
  background: var(--light-red05);
  opacity: .8;
  z-index: 3;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  transition: var(--transition-long);
}

.project-image-l:hover:after{
  top: -3px;
  left: -3px;
}

.project-image-l:hover{
  z-index: 3;
}



/* Right */ 
.project-content-r {
  margin: auto;
  position: relative;
  grid-area: 1 / 1 / -1 / 8;
  background-color: var(--light-charcoal09);
  z-index: 2;
  z-index: 3;
  backdrop-filter: blur(1px);
  border-radius: var(--border-radius-large);
}

.project-image-r img {
  width: 100%;
  height: 100%;
  box-shadow: var(--box-shadow);
  transition: var(--transition-short);
  border-radius: var(--border-radius-small);
  vertical-align: middle;
}

.project-image-r {
  margin: auto;
  grid-area: 1 / 6 / -1 / -1;
  position: relative;
  z-index: 2;
  border-radius: var(--border-radius-small);
  transition: var(--transition-short);
  margin-right:15px;
}

.project-image-r::after{
  border: 3px solid var(--light-red);
  opacity: .8;
  top: 10px;
  left: 10px;
  z-index: -1;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-small);
  transition: var(--transition-short);
}

.project-image-r:hover:after{
  top: -3px;
  left: -3px;
}

.project-image-r:hover{
  z-index: 3;
}

.tag-container{
  margin-top: 2vmin;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  flex-wrap: wrap;
  place-content: center;
  gap: 1vmin;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.tag {
  border-radius: var(--border-radius-small);
  background-color: var(--light-charcoal);
  color: var(--light-red);
  text-align: center;
  vertical-align: middle;
  padding: 3px;
  font-weight: bold;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.tag::before{
  content:'#';
  color: var(--slate);
}
/*-------------------------------------------*/



/*-------------EMAIL SIDE STYLE--------------*/
.side-style {
  width: 30px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
  color: var(--white);
}

.email-side-style {
  margin: 10px auto;
  padding: 10px;
  font-family: var(--font-mono);
  font-size: var(--fz-xxs);
  line-height: var(--fz-lg);
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

.email-side-style a {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  color: inherit;
  position: relative;
  transition: var(--transition-short);
}

.email-side-style a:hover {
  transform: translateY(-6px);
  color: var(--red);
}

.side-style::after {
  content: "";
  display: block;
  width: 1px;
  height: 90px;
  margin: 10px auto;
  background-color: var(--light-slate);
}
/*-------------------------------------------*/



/*--------------ANIMATIONS------------------*/
.fade-up {
  animation-name: slideUp;
  animation-duration: 2s;
  animation-fill-mode: both;
  /* keeps the final state of the animation after it ends */
}

.fade-in-right {
  animation-name: fadeRight;
  animation-duration: 2s;
  animation-fill-mode: both;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeRight {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    left: 0px;
  }
}
/*-------------------------------------------*/


.links-container {
  display: grid;
  margin: auto;
  grid-template-columns: 38% 38%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  justify-content: center;
  justify-items: center;
  max-width: 80%;
}

.links-container p {
  color: var(--slate);
}

.links-container a {
  text-decoration: none;
  color: var(--light-red);
}

.skills-grid{
  display: flex;
  flex-wrap: wrap;
  place-content: center;
}


.lang-container {
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  gap: 10px;

  place-content: center;
  justify-content: center;
  align-items: center;
  max-width: 500px;
}

.lang-item {
  min-width: 100px;
  justify-content: center;
  border-radius: var(--border-radius-small);
  background-color: var(--light-charcoal05);
  color: var(--light-red);
  text-align: center;
  vertical-align: middle;
  padding: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}

.lang-container ul {
  counter-reset: index;
  padding: 0;
  max-width: 600px;
}

.lang-container li {
  counter-increment: index;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  align-content: center;
  padding: 12px 12px;
  box-sizing: border-box;
  background-color: var(--light-charcoal05);
  border-radius: var(--border-radius-small);
  margin-top: 8px;
}

.lang-container li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: right;
  font-weight: bold;
  min-width: 30px;
  padding-right: 12px;
  align-self: flex-start;
  color: var(--light-red)
}


/*--------------MISC STYLES---------------*/
.github-stats-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  width: 100%;
}
/*----------------------------------------*/



/*-------------MOBILE STYLES--------------*/
@media only screen and (max-width: 800px) {
  .side-style {
    display: none;
  }

  .about-container {
    margin: 80px 20px;
    margin-top: 100px;
    padding: 30px;
    border-radius: var(--border-radius-small);
    min-height: 20vh;
  }

  .wallpaper {
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .intro {
    margin-left: 5px;
    padding-right: 10px;
  }

  .about-container p {
    font-size: 12px;
    line-height: 1.5;
    opacity: 1;
    text-align: left;
  }

  nav a {
    letter-spacing: 1px;
    font-size: 14px;
  }

  .section {
    padding-top: 10px;
  }

  .project-container {
    padding: 5%;
    height: auto;
    max-width: 300px;
  }

  .project-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: var(--border-radius-small);
  }

  .about-container {
    margin-top: 10px;
    font-size: 2vw;
  }

  .github-stats {
    display: none;
  }

  .featured-projects {
    padding: 10px;
    padding-top: 10vw;
    font-size: 2vw;
  }

  .project-content-l {
    grid-area: 1 / 2 / -1 / 11;

  }

  .project-content-r {
    grid-area: 1 / 1 / -1 / 10;

  }

  .project-image-r {
    grid-area: 1 / 5 / -1 / -1;
  }

  .project-image-l {
    grid-area: 1 / 1 / -1 / 7;
  }

}
/*----------------------------------------*/