/* General Styles */
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1f1f1f;
    color: #fff;
    --green: #64ffda;
    --red:  #ff3b3b;
    --light-slate: #a8b2d1;
    --white: #ffffff; 
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
  }
  

  /* Header Styles */
  header {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }

  header .container {
    justify-content: space-between;
    height: 20px;
    padding: 0 20px;
    max-width: 1200px;
    width: 100%;
    
  }

  .logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
    text-decoration: none;
  }
  
  nav {
    display: flex;
    float: right;
  }
  
  nav ul {
    list-style: none;
    display: flex;
  }
  
  nav li {
    margin-left: 30px;
  }
  
  nav li:first-child {
    margin-left: 0;

  }
  
  nav ul li a {
    counter-increment: item 1;
  }

  nav ul li a::before {
    content: "0" counter(item) ".";
    margin-right: 5px;
    color: var(--red);
    font-size: var(--fz-xxs);
    text-align: right;
}

  nav a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease;
    padding: 10px;
  }
  
  nav a:hover {
    color: #ff3b3b;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
  }
  

  /* Home Page Styles */
  .home {
    padding: 120px 0;
  }
  
  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    margin-top: 60px;
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
  }
  
  .project-card {
    position: relative;
  }
  
  .project-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .project-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 5px;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    opacity: 0;
  }
  
  .project-card:hover .project-content {
    opacity: 1;
  }
  
  .project-card h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
  }
  
  .project-card p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
  }
  
/* About Styling */
.about-container {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 0px 100px;
    padding: 100px;
    padding-top: 200px;
    border-radius: 5px;
    min-height: 100vh;
    height: 100vh;
  }
  
  @media only screen and (max-width: 768px){
  .about-container {
    background-color: rgba(255, 255, 255, 0.2);
    margin: 80px 20px;
    margin-top: 100px;
    padding: 30px;
    border-radius: 5px;

  }
}
  .about-container h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    color: #fff;
  }
  
  .about-container p {
    font-size: 18px;
    line-height: 1.5;
    opacity: 0.8;
    color: #fff;
    text-align: center;
  }
  
  .about-container a {
    color: #f44336;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .about-container:hover {
    transition: all 1s cubic-bezier(0.23, 1, 0.32, 1);
  }
    
    /* Project Page Styles */
    .project {
    padding: 120px 0;
    }
    
    .project-header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    }
    
    .project-header img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 60px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    }
    
    .project-header h2 {
    font-size: 36px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;
    }
    
    .project-header p {
    font-size: 20px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 30px;
    }
    
    .project-images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    }
    
    .project-container img {
    width: 100%;
    max-width: 400px;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    }
    
    .project-details {
    margin-top: 60px;
    }
    
    .project-details h3 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    }
    
    .project-details p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 20px;
    }
    
    .project-link {
    margin-top: 40px;
    }
    
    .project-link a {
    display: inline-block;
    background-color: #ff3b3b;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: all 0.3s ease;
    }
    
    .project-link a:hover {
    background-color: #d63434;
    }

    /* Project Container Wrapper Styles */
.project-container-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 40px;
  }
  
  /* Project Container Styles */
  .project-container {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 400px;
    width: 300px;
  }
  
  .project-container:hover {
    background-color: rgba(0, 0, 0, 0.8);
    color: red;
    transform: translateY(-10px);
    cursor: pointer;
  }
    
    /* Footer Styles */
    footer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    text-align: center;
    margin-top: 80px;
    }
    
    footer p {
    font-size: 16px;
    line-height: 1.5;
    margin-top: 0;
    margin-bottom: 10px;
    }
    
    footer a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    }
    
    footer a:hover {
    color: #ff3b3b;
    }
  

    @media only screen and (min-width: 1080px){
    .side-style{
    width: 30px;
    position: fixed;
    bottom: 0px;
    left: auto;
    right: 40px;
    z-index: 10;
    color: var(--white);
    }
  }

  @media only screen and (max-width: 1080px){
    .side-style{
      display: none;
    }
  }

    .email-side-style{
      margin: 10px auto;
      padding: 10px;
      font-family: var(--font-mono);
      font-size: var(--fz-xxs);
      line-height: var(--fz-lg);
      letter-spacing: 0.1em;
      -webkit-writing-mode: vertical-rl;
      writing-mode: vertical-rl;
    }

    .email-side-style a {
      display: inline-block;
      text-decoration: none;
      text-decoration-skip-ink: auto;
      color: inherit;
      position: relative;
      transition: var(--transition);
    }

    .email-side-style a:hover{
      transform: translateY(-6px);
      color: var(--red); 
    }

    .side-style::after {
      content: "";
      display: block;
      width: 1px;
      height: 90px;
      margin: 10px auto;
      background-color: var(--light-slate);
  }

    /* Add the slide-up animation to each section */
 .fade-up {
    animation-name: slideUp;
    animation-duration: 2s;
    animation-fill-mode: both; /* keeps the final state of the animation after it ends */
  }



  /* links section */
  .link-container{
    margin-top: 100px;
    display: grid;
    grid-gap: clamp(4px, calc(-5.09px + 2.42vw), 24px);
    grid-column: span 3/span 3;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    -webkit-padding-start: 0px;
    padding-inline-start: 0px;
    -webkit-padding-end: 0px;
    padding-inline-end: 0px;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .link-container p {
    color: white;
    opacity: 0.5;
    
  }

  .link-container a {
    color: white;
    padding-left: 10px;
  }

  section {
    max-width: 1000px;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    margin: auto;
  }

/* Define the slide-up animation */
@keyframes slideUp {
    0% {
      opacity: 0;
      transform: translateY(40px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }