body { 
  margin: 0;
  height: 100%;
  background: #5491FF;
  background: -webkit-linear-gradient(top left, #5491FF, #FFFFFF);
  background: -moz-linear-gradient(top left, #5491FF, #FFFFFF);
  background: linear-gradient(to bottom right, #5491FF, #FFFFFF);
}

.center {
  text-align: center;
  color: white; 
}
